# debug build output
debug_builds/massif.out.9-20
debug_builds/valgrind-out.txt

# our executables, this is automatically compiled/generated anyways so no need to upload
RSC_Server
debug_builds/debug-exec

# object files we probably shouldn't upload to the remote
cmd_input.o
colors.o
logger.o
main.o
mysql.o
timer.o
utils.o
session_info.o
debug_builds/massif.out.53314
